DB_HOST=localhost
DB_PORT=5432
DB_NAME=plantetto_db
DB_USERNAME=psqlUser
DB_PASSWORD=pwd
SECRET_KEY=ur_secret_key
CLOUDINARY_URL=ur_cloudinary_url
RESEND_API_KEY=ur_resend_key
ENVIRONMENT=PROD
DEV_EMAIL=ur_email
DEV_EMAIL_FROM=ur_email_plantetto
PROD_EMAIL_FROM=ur_email_plantetto

