[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-cors = "*"
python-dotenv = "*"
psycopg2 = "*"
flask-login = "*"
flask-wtf = "*"
colorama = "*"
email-validator = "*"
cloudinary = "*"
apscheduler = "*"
tzdata = "*"
flask-socketio = "*"
resend = "*"
gevent-websocket = "*"
numpy = "*"
opencv-python-headless = "*"

[dev-packages]

[requires]
python_version = "3.12"
