@import "tailwindcss";
@plugin "daisyui" {
  themes: mytheme;
}

@plugin "daisyui/theme" {
  name: "mytheme";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(98% 0.001 106.423);
  --color-base-200: oklch(97% 0.001 106.424);
  --color-base-300: oklch(92% 0.003 48.717);
  --color-base-content: oklch(39% 0.095 152.535);
  --color-primary: oklch(64% 0.2 131.684);
  --color-primary-content: oklch(98% 0.022 95.277);
  --color-secondary: oklch(60% 0.118 184.704);
  --color-secondary-content: oklch(96% 0.018 272.314);
  --color-accent: oklch(51% 0.222 16.935);
  --color-accent-content: oklch(98% 0 0);
  --color-neutral: oklch(40% 0.101 131.063);
  --color-neutral-content: oklch(98% 0.003 247.858);
  --color-info: oklch(95% 0.045 203.388);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(93% 0.127 124.321);
  --color-success-content: oklch(26% 0.051 172.552);
  --color-warning: oklch(85% 0.199 91.936);
  --color-warning-content: oklch(27% 0.077 45.635);
  --color-error: oklch(81% 0.117 11.638);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 0.25rem;
  --radius-field: 0.25rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 1;
}

:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
